html,
body {
    height: 100%;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: row;
    background-color: black;
}

.game-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    border: 5px solid gold;
}

.heading {
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: auto;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(-90deg, transparent, gold, gold, gold, gold, gold, gold, gold, transparent)1;
}

.game-name-heading {
    font-family: "Rubik Glitch", "Rubik Bubbles", Butcherman, "Sour Gummy", "sans serif";
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-bottom: 15px;
}

.tagline {
    font-family: "Balthazhar", "Sour Gummy", "Rubik Bubbles", serif;
    font-weight: 200;
    font-size: 20px;
    margin-top: none;
    margin-bottom: 60px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    border-top: none;
    background-color: black;
}

.player-section,
.computer-section {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    padding: 15px;
    justify-content: space-between;
    margin-bottom: auto;
    align-items: center;

}

.computer-section {
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(-90deg, transparent, gold, gold, gold, gold, gold, gold, gold, transparent)1;
}

.player-logo,
.computer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    border: 8px solid rgb(12, 206, 12);
    border-radius: 5px;
    width: 150px;
    overflow: hidden;

}

.player-logo div {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 5px;
}

.player-logo div:hover {
    overflow-x: scroll;
}

#name-computer,
#name-player {
    font-family: "Rubic Glitch", "Rubic Bubbles", "Balthazar", "Serif";
    font-weight: 200;
    color: white;
    margin: 10px 2px 10px 2px;
}

.choice-section-c,
.choice-section-p {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-right: 60px;
    position: relative;
}

.result-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1.10 1 0;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(-90deg, transparent, gold, gold, gold, gold, gold, gold, gold, transparent)1;
}

#vs-icon {
    width: 150px;
    color: white;
    font-family: "Sour Gummy", "Balthazar", "sans serif";
    font-size: 80px;
    font-weight: 400;
    margin-left: 130px;

}

#current-round {
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    text-align: center;
    align-items: center;
    height: 100%;
    margin-left: auto;
    width: 100%;
    padding-left: 25px;
}

#round-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 60px;
}

.button-info,
.start {
    font-family: "Sour Gummy", "Balthazar", "Serif";
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 25px;
    width: 250px;
    height: max-content;
    border: 2px solid rgb(12, 206, 12);
    border-radius: 10%;
    background-color: black;
}

#robot,
#human {
    width: 150px;
    height: 150px;
    margin: none;
    flex: 1 1 auto;
}

#rock-c,
#paper-c,
#scissor-c,
#rock,
#paper,
#scissor {
    width: 150px;
    height: 150px;
    flex: 1 1 auto;
    transition: transform 0.5s ease;
}



.game-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    border: 5px solid gold;
    border-left: none;
    margin-left: auto;
    flex: 1 1 auto;
    padding: 30px 0 0 0;

}

#history-section {
    display: flex;
    flex-direction: column;
    margin-top: none;
    width: 100%;
    align-items: center;
    height: 100%;
}

#scorecard-section {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    width: 100%;
    height: 35%;
    padding-bottom: none;
    align-items: center;
    border-top: 5px solid transparent;
    border-image: linear-gradient(90deg, transparent, gold, transparent)1;
}

.history-name,
.scorecard-name {
    color: white;
    font-family: "Sour Gummy", "Balthazar", "Serif";
    margin: 8px;
    font-size: 45px;
    font-weight: 500;
}

.player-score,
.computer-score {
    color: white;
    font-family: "Sour Gummy", "Balthazar", "Serif";
    font-weight: 400;
    font-size: 38px;
    flex: 1 1 0;
    text-align: center;
    border-radius: 10%;
}

.player-score {
    border-right: 3px solid transparent;
    border-image: linear-gradient(to bottom, grey, grey, grey, transparent)1;
}

.score {
    display: flex;
    flex-direction: row;
    padding: 0 5px 5px 5px;
    width: 100%;
    height: 100%;
    border-top: 3px solid transparent;
    border-image: linear-gradient(90deg, transparent, grey, grey, grey, transparent)1;
}

/* Code at the bottom is for the numbers which shows current score. */
.actual-score-p,
.actual-score-c {
    color: white;
    font-family: "Sour Gummy", "Balthazar", "Serif";
    font-size: 38px;
    font-weight: 600;
    text-align: center;
}

.player-score-name,
.computer-score-name {
    margin: 10px auto;
}

.history-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 580px;
    padding-bottom: 30px;
    font-family: "Sour Gummy", "Balthazar", serif;
    font-size: 20px;
    color: white;
    font-weight: 200;
    overflow: hidden;

}

.history-chart:hover {
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}

.para {
    margin: 5px;
    text-align: center;
}

.max-points {
    font-size: 16px;
    margin: 0;
}

.div-points {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: "Sour Gummy", "Balthazar", serif;
    height: max-content;
    border: 2px solid rgb(12, 206, 12);
    border-radius: 10%;
    width: 250px;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

#points {
    font-size: 20px;
    margin: 0;
}

/* //   create css to move slightly when hover over images */
.choice-section-c div:hover {
    transform: scale(1.05);
}

.choice-section-p div:hover {
    transform: scale(1.05);
}

.image {
    position: relative;
    height: max-content;
    width: max-content;
    border: 4px solid gold;
    border-radius: 10%;
    margin-right: 50px;

}

/* // - [ ]  create css only for add green overlayer with less opacity,  when user hover over player selection images. */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(12, 206, 12, 0.5);
    /* Black overlay with transparency */
    opacity: 0;
    transition: opacity 0s ease-in-out;
    border-radius: 10%;
}

.choice-section-p .image:hover .overlay {
    opacity: 1;
}

/* // - [ ]  create css selector for have green overlayer once user and computer made his choice for the round. */

.restart-button {
    font-family: "Sour Gummy", "Balthazar", "Serif";
    color: white;
    font-size: 50px;
    text-align: center;
    margin-right: 30px;
    margin-left: 0;
    width: 250px;
    height: max-content;
    border: 2px solid rgb(12, 206, 12);
    border-radius: 10%;
    background-color: black;
}

.new-para {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    /* margin-left: auto; */
    font-family: "Sour Gummy", "Balthazar", serif;
    font-size: 21px;
    color: rgb(242, 215, 58);
    font-weight: 300;
    overflow: hidden;
    text-align: center;
    justify-content: end;
    box-sizing: border-box;
}

.new-para:hover {
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}

.relative-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 110px 10px 100px;
    width: 500px;
    height: 100%;

}

.change-name {
    align-self: center;
    font-size: 16px;
    color: white;
    flex-wrap: wrap;
    width: 200px;
    font-family: "Sour Gummy", "Balthazar", serif;
    font-weight: 200;
    overflow: hidden;
    margin-right: auto;
    margin-left: 10px;
}

.temp-para {
    margin: 5px auto 5px auto;
    flex-wrap: wrap;
    /* margin-left: auto; */
    font-family: "Sour Gummy", "Balthazar", serif;
    font-size: 21px;
    color: white;
    font-weight: 300;
    overflow: hidden;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}
.temp-para-l {
    margin: 5px auto 5px auto;
    flex-wrap: wrap;
    /* margin-left: auto; */
    font-family: "Sour Gummy", "Balthazar", serif;
    font-size: 30px;
    font-weight: 300;
    overflow: hidden;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    color: rgb(242, 215, 58);

}